<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.emicuna">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_micuna"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_micuna_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".Sellers.SellerHomeActivity"
            android:label="@string/title_activity_seller_home"></activity>
        <activity android:name=".Sellers.SellerLoginActivity" />
        <activity android:name=".Sellers.SellerRegistrationActivity" />
        <activity android:name=".Buyers.ResetPasswordActivity" />
        <activity android:name=".Admin.AdminMaintainProductsActivity" />
        <activity android:name=".Buyers.SearchProductsActivity" />
        <activity android:name=".Admin.AdminUserProductsActivity" />
        <activity android:name=".Admin.AdminNewOrdersActivity" />
        <activity android:name=".Buyers.ConfirmFinalOrderActivity" />
        <activity android:name=".Buyers.CartActivity" />
        <activity android:name=".Buyers.ProductDetailsActivity" />
        <activity android:name=".Buyers.SettingsActivity" />
        <activity android:name=".Buyers.HomeActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Admin.AdminCategoryActivity" />
        <activity android:name=".Admin.AdminAddNewProductActivity" />
        <activity
            android:name=".Buyers.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Buyers.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Buyers.MainActivity"
            android:screenOrientation="portrait" /> <!-- Image-Cropper -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>